@{
    ViewBag.Title = "About Us";
}

<h2 style="font-family:Times New Roman;color:Gray;">About</h2>
<p>
     Put content here.
</p>
<div class="text-right">
@Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
