@{
    ViewBag.Title = "Change Password";
}

<h2 style="font-family:Times New Roman;color:Gray;">Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
<div style="margin-left:90%">
@Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
