@model IEnumerable<Rsq.UserProfileManagement.Models.MembershipModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="font-family:Times New Roman;color:Gray;">User Result</h2>

@if(ViewBag.UserCreate==true)
{
    <p style="font-family:Times New Roman;margin-left:90%;font-size:larger;">
        @Html.ActionLink("Create New", "Register","Account")
    </p>
}

<script type="text/javascript">

function ConfirmationBox() {

    var e = document.getElementById("UserName");
    var strUser = e.options[e.selectedIndex].value;

    if (strUser == 0) {
        alert("Select a User");
    return false;
    }
}

</script>

@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    <fieldset style="width:400px;">
        <legend>Search User</legend>
            <div> 
                <h5>User Name:@Html.DropDownList("UserName", "Select user")</h5>
            </div>
            <div style="margin-left:70%;">
                <input type="submit" value="Search an User"  onclick="javascript:return ConfirmationBox();"/>
            </div>
    </fieldset> 
}

@{
    var grid = new WebGrid(source: Model,
     defaultSort: "UserName",
         rowsPerPage: 25);

    IEnumerable<WebGridColumn> cols = grid.Columns();

    if (ViewData["UserResetPassword"].ToString() == RSQ.GiftEntertainmentTracker.Common.ListItem.resetPassword)
    {
        cols=cols.Concat(grid.Columns(
                            grid.Column("Reset Password",
                                format: (item) => Html.ActionLink("ResetPassword", "ResetPassword", new { userName = item.UserName }))));
    }
    
    if(ViewData["UserEdit"].ToString()==RSQ.GiftEntertainmentTracker.Common.ListItem.edit)
    {
        cols=cols.Concat(grid.Columns(grid.Column("Edit",
                    format: (item) => Html.ActionLink("Edit", "Edit", new { userName = item.UserName }))));
    }
    
    if(ViewData["UserDelete"].ToString()==RSQ.GiftEntertainmentTracker.Common.ListItem.delete)
    {
        cols = cols.Concat(grid.Columns(grid.Column("Delete",
                                format: (item) => Html.ActionLink("Delete", "Delete", new { userName = item.UserName }))));
    }

    cols = cols.Concat(grid.Columns(grid.Column("Details",
                                format: (item) => Html.ActionLink("Details", "Details", new { userName = item.UserName }))));

    cols = cols.Concat(grid.Columns(
                                  grid.Column("UserName", "User Name"),
                                  grid.Column("Email", "Email Id"),
                                  grid.Column("Comment"),
                                  grid.Column("IsApproved", "Approved"),
                                  grid.Column("IsLockedOut", "Locked Out"),
                                  grid.Column("IsOnline", "Online")
    ));
 }
 <div>
  @grid.GetHtml(
      tableStyle: "grid",
      headerStyle: "head",
      alternatingRowStyle: "alt",
      columns: cols)
 </div>

<div style="margin-left:90%">
@Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
