@{
    ViewBag.Title = "Change Password";
}

<h4  class="text-center" style="font-family:Times New Roman;color:Maroon;">Change Password</h4>
<p class="text-info">
    Your password has been changed successfully.
</p>
