@model IEnumerable<RSQ.GiftEntertainmentTracker.Models.DepartmentUserModel>

@{
    ViewBag.Title = "DepartmentUsersResult";
}



<script type="text/javascript">

function ConfirmationBox() {

    var e = document.getElementById("UserName");
    var strUser = e.options[e.selectedIndex].value;

    if (strUser == 0) {
        alert("Select a User");
    return false;
    }
}

</script>

@using (Html.BeginForm("DepartmentUsersResult", "DepartmentUser", FormMethod.Post))
{
    <fieldset style="width:400px;">
        <legend>Search User</legend>
            <div> 
                <h5>User Name:@Html.DropDownList("UserName", "Select user")</h5>
            </div>
            <div style="margin-left:70%;">
                <input type="submit" value="Add User"  onclick="javascript:return ConfirmationBox();"/>
            </div>
    </fieldset> 
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Department Users Result</h2>

@{
    var grid = new WebGrid(source: Model,
        defaultSort: "CompanyName",
        rowsPerPage: 25);

    IEnumerable<WebGridColumn> cols = grid.Columns();
    
    cols=cols.Concat(grid.Columns(grid.Column("Delete", format: @<text>
                                    <a href="@Url.Action("DepartmentUsers", "DepartmentUser", new { userId = item.UserId })"  title="Delete">
                                    <img src="../../Images/Delete.jpg" alt="Delete" style="border:none;width:25px;height:25px;padding-left:25px;" /></a>
                                </text>, style: "Delete")));
    
    cols = cols.Concat(grid.Columns(
         grid.Column("Details",
                 format: (item) => Html.ActionLink("Details", "DepartmentUsersDetails", new { userName = item.UserName }))));

    cols = cols.Concat(grid.Columns(         
        grid.Column("CompanyName", "Company"),
        grid.Column("DivisionName", "Division"),
        grid.Column("DepartmentName", "Department"),
        grid.Column("UserName", "User Name")));

}
<div>
    @grid.GetHtml(
            tableStyle:"grid",
            headerStyle:"head",
            alternatingRowStyle:"alt",
            columns: cols);
</div>
