@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<table id="commonTable">
    @using (Html.BeginForm("Create", "SuperAdmin", FormMethod.Post))
    {
        <tr>
            <td>
                 @Html.DropDownList("companyItems", "Select One")&nbsp;&nbsp;
                 <input type="submit" value="Go" />
            </td>
        </tr>
    }
</table>

<div style="margin-left:90%">
    @Html.ActionLink("Back to List", "CompanyDetails")<br />
    @Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
