@model IEnumerable<RSQ.GiftEntertainmentTracker.Models.DivisionModel>

@{
    ViewBag.Title = "Division";
}

<h2>Division</h2>

<p>
    @Html.ActionLink("Create New", "CreateDivision")
</p>
@{  
    int i=0;
    if (Model != null)
    {
        <table style="height:0px;width:0px">
            <tr>
                @foreach (var item in Model) {
                    i++;
                    if (i % 2 == 0)
                    {
                        if (!string.IsNullOrEmpty(item.DivisionName))
                        {
               
                                <td style="height:100px;width:50px">
                                @if (item.DivisionName.Length > 8)
                                {
                                    string text = string.Format(item.DivisionName.Substring(0, 8) + "..");
                                    @Html.ActionLink(text, "Department", new { divisionId = item.DivisionId })
                                }
                                else
                                {
                                    @Html.ActionLink(item.DivisionName, "Department", new { divisionId = item.DivisionId })
                                }
                                @Html.ActionLink("Delete", "DeleteDivision", new { divisionId = item.DivisionId })
                                </td>
                        }
                    }
                }
            </tr>
        </table>
    }
}
