@model IEnumerable<RSQ.GiftEntertainmentTracker.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateUsers")
</p>

<script type="text/javascript">

function ConfirmationBox() {

    var e = document.getElementById("UserName");
    var strUser = e.options[e.selectedIndex].value;

    if (strUser == 0) {
        alert("Select a User");
    return false;
    }
}

</script>

@using (Html.BeginForm("SuperAdminResult", "SuperAdmin", FormMethod.Post))
{
    <fieldset style="width:400px;">
        <legend>Search User</legend>
            <div> 
                <h5>User Name:@Html.DropDownList("UserName", "Select user")</h5>
            </div>
            <div style="margin-left:70%;">
                <input type="submit" value="Add User"  onclick="javascript:return ConfirmationBox();"/>
            </div>
    </fieldset> 
}

@if (Model!=null)
{
    foreach (var item in Model) 
    {
        if (!string.IsNullOrEmpty(item.FirstName))
        {
            <table style="height:0px;width:0px">
                <tr>
                    <td style="height:100px;width:50px">
                        @Html.ActionLink(item.FirstName, "Select", new { userId = item.UserId })
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        }
    }
}

